.quote-section{
    display:none;
    @include tablet{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 50vh;
        p{
            max-width: 700px;
            font-family: 'Dancing Script', sans-serif;
            font-size: 2rem;
        }
    }
}

footer{
    @include tablet{
        height:50vh;
    }
    .l-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        @include tablet{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }
    }
    .footer-container{
        @include tablet{
            height: 40vh;
        }
    }
    .footer-text{
        @include tablet{
            width:100%;
        }
        p{
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
   .button{
        width: 150px;
        padding: 4px 0;
        @include tablet{
            width: 200px;
        }
    }
      ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        list-style: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 1rem;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
        @include tablet{
          max-width: 1024px;
          margin: 0 auto;
          padding: 1rem 2rem;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
        li a{
          text-decoration: none;
          font-size: 0.8rem;
          color: #111;
        }
        li a:visited{
          text-decoration: none;
          color: #111;
        }
        li a:hover{
          color: #FFA31D;
        }
      }
      .page-item-318{
        display:none;
      }
      .social{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100px;
        margin: 10px;
      }
      .copyright{
        padding: 0 0 1rem 0 !important;
      }
  }
    
